/*============================== Font ==============================*/
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Molengo&family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Martel Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
li{
    list-style-type: none;
  }
a{
    text-decoration: none;
  }
/*============================== Title ==============================*/
header{
  background: url(../img/bureau.png)  no-repeat bottom center #000;
  width: 100%;
  height: 100vh;
  color: white;
}
.pad{
  padding-top: 250px;
}
.navbar{
  background-color: rgba(0, 0, 0, 0.66);
}
.color{color: #85357e;}
.colorbis{color: #210f43;}
.passion{font-family: 'Mogra', cursive;}
h1{
  font-size: 8rem !important;
  color: white;
  font-family: 'Molengo', sans-serif;
}
h2{
  font-size: 5rem !important;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}
h3{
  font-size: 3rem !important;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
}
/*============================== Img ==============================*/

